$colorPrimary: #e94560;
$colorSecondary: #ec8484;
$colorSuccess: #43b581;
$colorDanger: #f04747;

$textPrimary: #ffffff;

$backgroundPrimary: #03051e;
$backgroundSecondary: #14172e;
$background01: #282d4f;

$buttonPrimary: #e94560;
$buttonSecondary: #343a61;
$buttonSuccess: #3ba55d;
$buttonDanger: #e94560;
$buttonBlurple: #5865f2;
$buttonGold: #df9d23;

$colorWhite: #ffffff;
